@import url("compchallenge.css");
@import url("tattlelog.css");

html {
  font-size: 21px;
}

body {
  background-color: black;
  background-image: url("../../public/assets/img/compchallenge/moroccan-flower-dark.png");
  max-width: 850px;
  margin: 0 auto;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  color: whitesmoke;
}

/* ELEMENT RULESETS */

h1,
h2,
p,
a,
form,
nav {
  text-align: center;
}

a:link {
  color: aquamarine;
}

a:visited {
  color: aquamarine;
}

a:hover {
  color: dodgerblue;
}

button {
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  border: 3px solid green;
}

button:active {
  background-color: #d1d1d1;
}

label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}

video {
  display: block;
  margin: 0 auto;
}

/* CLASS RULESETS */

.audiobaby {
  padding-left: 200px;
}

.brave_traveller {
  background-color: rgb(80, 0, 0);
}

.chicagoslang {
  background-color: whitesmoke;
  color: black;
}

.rapers {
  background-color: greenyellow;
  color: black;
}

.rapers_poll {
  width: 850px;
  background-color: darkturquoise;
}
