/* MAIN RULESETS */

html {
  font-size: 21px;
}

body {
  background-color: black;
  background-image: url("./assets/img/compchallenge/moroccan-flower-dark.png");
  max-width: 850px;
  margin: 0 auto;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  color: whitesmoke;
}

/* ELEMENT RULESETS */

h1,
h2,
p,
a,
form,
nav {
  text-align: center;
}

a:link {
  color: aquamarine;
}

a:visited {
  color: aquamarine;
}

a:hover {
  color: dodgerblue;
}

button {
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  border: 3px solid green;
}

button:active {
  background-color: #d1d1d1;
}

label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}

table,
tr,
th,
td,
caption {
  font-size: 14px;
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

video {
  display: block;
  margin: 0 auto;
}

/* CLASS RULESETS */

.dashboard {
  column-count: 3;
  display: flexbox;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(82, 82, 82, 0.5),
    rgba(255, 0, 0, 0.5)
  );
  border: 1px solid black;
  border-radius: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
  width: 40%;
}

.checkboxes {
  column-count: 2;
  padding-top: 18px;
}

.button {
  margin: 0;
  text-align: center;
  padding-bottom: 18px;
}

.ranges {
  display: flexbox;
  padding-top: 1rem;
  padding-right: 10px;
  line-height: 150%;
}
