.dashboard {
  column-count: 3;
  display: flexbox;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(82, 82, 82, 0.5),
    rgba(255, 0, 0, 0.5)
  );
  border: 1px solid black;
  border-radius: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
  width: 40%;
}

.checkboxes {
  column-count: 2;
  padding-top: 18px;
}

.button {
  margin: 0;
  text-align: center;
  padding-bottom: 18px;
}

.ranges {
  display: flexbox;
  padding-top: 1rem;
  padding-right: 10px;
  line-height: 150%;
}
